@import '../../../../../assets/scss/core/colors';

.user-info {
    display: flex;    
    flex-direction: row;
    cursor: pointer;

    :hover {
        color: $secondary;
    }
    .text-group {
        
        h3 {
            padding: 3px 5px;
            width: 100%;
        }
        h4{
            display: inline;
        }
    }

    img {
        width: 40px;
    }
}