@import '../../../../../assets/scss/core/colors';

.user-info {
    display: flex;    
    flex-direction: row;
    cursor: pointer;

    :hover {
        color: $secondary;
    }

    h3 {
        padding: 3px 5px;
    }
    img {
        width: 40px;
    }
}