<mat-drawer-container class="sidebar-container">
    <mat-drawer mode="side" opened>
        <div class="side-menu">
            <div class="user">
                <h3>Administrador</h3>
                <hr>
            </div>
            <div>
                <ul class="main-menu">
                    <li *ngFor="let item of menuItems">
                        <a [routerLink]="item.url">
                            <img [src]="item.image" />
                            <span>{{item.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <hr>
                <ul class="setting-menu">
                    <li>
                        <a (click)="openSubMenu()">
                            <img src="../../../../assets/images/menu/settings.png" />
                            <span>Configuraciones</span>
                            <mat-icon>{{iconSettings}}</mat-icon>
                        </a>
                        <ul *ngIf="isSettingsOpen">
                            <li  *ngFor="let item of settingMenuItems">
                                <a [routerLink]="item.url">
                                    <mat-icon class="img-icon">{{item.image}}</mat-icon>
                                    <span>{{item.title}}</span>
                                </a>
                            </li>                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="p1">        
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>