<app-card title="Categorias" subtitle="Inicio / Categorias">
    <div class="row">
        <div class="col-12">
            <div class="pull-right">
                <a mat-raised-button color="primary" routerLink="/categories/create">
                    Nueva categoria <mat-icon>style</mat-icon>
                </a>
            </div>
        </div>
        <div class="col-12">
            <app-dynamictable [tableSettings]="tableSettings"                               
                              [datatable]="categories" 
                              [hasOptions]="true" 
                              (element)="editDelete($event)">
            </app-dynamictable>
        </div>
    </div>
</app-card>