<div class="row" [ngSwitch]="roleId">
    <div class="col-12" *ngSwitchCase="1">
        <mat-card>
            Hola mundo admin
        </mat-card>
    </div>
    <div class="col-12" *ngSwitchCase="2">
        <mat-card>
            Hola mundo employee
        </mat-card>
    </div>
    <div class="col-12" *ngSwitchCase="3">
        <div class="row client-div">
            <div class="col-6" *ngFor="let item of menuItems">
                <app-card-selector-item [title]="item.title" [img]="item.img"
                    [isSelected]="false" (click)="selectType(item.title)">
                </app-card-selector-item>
            </div>
        </div>
    </div>
</div>