<div class="sale-orders">
    <div class="col-6">
        <app-card-selector-item 
            (click)="stepToGoInHere(1)"
            title="Consumir aqui" 
            img="../../../../assets/images/orders/wine-bottle.png">
        </app-card-selector-item>
    </div>
    <div class="col-6">
        <app-card-selector-item 
            (click)="stepToGoInHere(2)"
            title="Para llevar" 
            img="../../../../assets/images/orders/clock.png">
        </app-card-selector-item>
    </div>
</div>