<app-card title="Empleados" subtitle="Inicio / Empleados">
    <div class="row">
        <div class="col-12">
            <div class="pull-right">
                <a mat-raised-button color="primary" routerLink="/employees/create">
                    Nuevo empleado <mat-icon>person_add</mat-icon>
                </a>
            </div>
        </div>
        <div class="col-12">
            <app-dynamictable [tableSettings]="tableSettings"                               
                              [datatable]="employees" 
                              [hasOptions]="true" 
                              (element)="editDelete($event)">
            </app-dynamictable>
        </div>
    </div>
</app-card>