<form *ngIf="formGroup && form" [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="row">
        <div [ngClass]="oneColumn ? 'col-12' : 'col-6'" *ngFor="let item of form">
            <label [for]="item.name">{{item.label}}</label><br>
            <mat-form-field
                *ngIf="item.type == 'text' || item.type == 'number' || item.type == 'password' || item.type == 'email'"
                appearance="legacy" [hideRequiredMarker]="false" [floatLabel]="false" class="w-100 input-form">
                <input matInput [type]="item.type" [ngClass]="(item.class != undefined) ? item.class : ''"
                    [name]="item.name" [id]="item.name" [formControlName]="item.name"
                    [placeholder]="item.placeholder ? item.placeholder : ''" [value]="item.value ? item.value : ''"
                    [mask]="item.mask" [required]="item.isRequired">
                <mat-error *ngIf="this.formGroup.get(item.name).getError('required')">{{ item.validationMessage ?
                    item.validationMessage : 'Campo requerido*' }}.</mat-error>
            </mat-form-field>

            <p *ngIf="item.type == 'checkbox'">
                <mat-radio-group [formControlName]="item.name" [value]="item.value">
                    <mat-radio-button [value]="true">Si</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </p>


            <div class="file-field input-field" *ngIf="item.type == 'file'">
                <div class="btn">
                    <span>File</span>
                    <input type="file" accept="image/*" [formControlName]="item.name" (change)="item.value = $event.target.files[0]; onFileChange($event.target.files[0])">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" 
                           id="file-input" 
                           [value]="item.value ? item.value.name : ''" 
                           [placeholder]="item.placeholder" 
                           type="text">
                </div>
            </div>


            <mat-form-field appearance="legacy" *ngIf="item.type == 'date'" class="w-100 input-form">
                <input matInput [matDatepicker]="dp" disabled type="text"
                    [ngClass]="(item.class != undefined) ? item.class : ''" [name]="item.name" [id]="item.name"
                    [formControlName]="item.name" [placeholder]="item.placeholder ? item.placeholder : ''"
                    [value]="item.value ? item.value : ''" [required]="item.isRequired">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp [disabled]="item.isDisabled ? true : false"></mat-datepicker>
                <mat-error *ngIf="this.formGroup.get(item.name).getError('required')">{{ item.validationMessage ?
                    item.validationMessage : 'Campo requerido*' }}.</mat-error>
            </mat-form-field>

            <mat-form-field class="w-100 input-form" *ngIf="item.type == 'select'">
                <mat-select name="item.name" [required]="item.isRequired" #select [placeholder]="item.placeholder"
                [formControlName]="item.name" [value]="item.value">
                    <mat-select-filter *ngIf="select.focused" [placeholder]="'Buscar'" [displayMember]="'name'"
                        [array]="item.valueArray" (filteredReturn)="item.valueFiltered=$event"></mat-select-filter>
                    <mat-option *ngFor="let option of item.valueFiltered" [value]="option.id">
                        {{option.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="this.formGroup.get(item.name).getError('required')">{{ item.validationMessage ?
                    item.validationMessage : 'Campo requerido*' }}.</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12">
            <div class="pull-right mt-3">
                <button mat-raised-button color="primary" type="submit">Guardar</button>
                <button mat-raised-button (click)="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</form>