<app-card title="Establecimientos" subtitle="Inicio / Lugares">
    <div class="row">
        <div class="col-12">
            <div class="pull-right">
                <a mat-raised-button color="primary" routerLink="/places/create">
                    Nuevo lugar <mat-icon>store_front</mat-icon>
                </a>
            </div>
        </div>
        <div class="col-12">
            <app-dynamictable [tableSettings]="tableSettings"                               
                              [datatable]="places" 
                              [hasOptions]="true" 
                              (element)="editDelete($event)">
            </app-dynamictable>
        </div>
    </div>
</app-card>