<div class="login">
    <div class="col-sm-8 col-md-6 col-lg-4">
        <mat-card class="mat-elevation-z8">
            <div>
                <img src="../../../../../assets/images/login/logo.png" />
                <br>
                <mat-card-header>
                    <mat-card-title>Iniciar sesión</mat-card-title>
                    <mat-card-subtitle>CloudBar</mat-card-subtitle>
                </mat-card-header>
            </div>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="login()" class="btn-login">Login</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>